<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Procrastinate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>388F4E601DA8F97000A4F765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>388F4E771DA8F97100A4F765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>388F4E821DA8F97100A4F765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
